body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 25px;
    background-color: linear-gradient(to right, #f8f9fa, #e9ecef);
    box-sizing: border-box;
    text-align: center;
    color: black;
    background-size: cover;
}

header {
    background: #120808;
    color: #877676;
    padding: 10px 0;
    position: sticky;
    top: 0;
}
header nav ul li a:hover {
    color: #ff4000;
    transition: 0.3s;
}


.home {
    padding: 60px 20px;
    text-align: center;
    margin: 30px 20px;
    border: 10px solid #f08080;
    background-color: rgb(0, 187, 255)
}

.about {
    padding: 60px 20px;
    text-align: center;
    margin: 30px 20px;
    border: 10px solid #f08080;
    background-color: aquamarine;
}

section {
    padding: 60px 20px;
    text-align: center;
    margin: 30px 20px;
    border-radius: 12px;
    background-color: rgb(141, 106, 247);
}

nav ul {
    list-style: none;
    padding: 0;
    justify-content: center;
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

.navbar ul li a:hover {
  color: #222;
}

.projects {
  padding: 30px;
  background: #fefdf6;
  margin: 20px;
  border-radius: 10px;
  border: 10px solid #f08080;
}

.project-card {
  background: rgb(240, 240, 238);
  margin: 30px auto;
  padding: 30px;
  border-radius: 30px;
  border: 2px solid #a4c97c;
  max-width: 1000px;
  text-align: center;
  transition: 0.3s;
  border: 10px solid #f08080;
}

.project-card:hover {
  transform: scale(1.05);
  background-color: #ff0199;
}

.contact {
  padding: 30px;
  margin: 20px;
  background: #fefdf6;
  border-radius: 10px;
  border: 10px solid #f08080;
  text-align: center;
}
.contact form {
  display: flex;
  flex-direction: column;
  gap:1px;
  max-width: 300px;
  margin: auto;
  padding: 20px;
}
.contact button {
  background: #9ac768;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  transition: 0.3s;
}
.contact button:hover {
  background: #a70b3f;
  color: white;
}

section {
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
    bottom: 0;
    width: 100%;
    margin-top: 20px
}